{% extends 'base.html' %}
{% load static %}
{% block title %}Email{% endblock %}

{% block body %}
<section class="container login_page my-5">
    <div class="form_container">

        <h2 class="form_heading">Recover Your Account </h2>

        {% if messages %}
        {% include 'message.html' %}
        {% endif %}


        <form method="POST" class="custom_form">
            {% csrf_token %}

            <!-- email -->
            <div class="form_content_container">
                <label>Enter email</label>
                <input type="email" class="form-control" name="email"required>
            </div>
            
            <div class="form_content_container mt-3">
                <button type="submit" class="btn btn-dark">Send Link</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}