{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block body %}
<section class="container login_page">
    <div class="form_container my-4">

        <h2 class="form_heading">Login</h2>

        {% if messages %}
        {% include 'message.html' %}
        {% endif %}


        <form action="" method="POST" class="custom_form">
            {% csrf_token %}

            <!-- username -->
            <div class="form_content_container">
                <label>Username</label>
                <input type="text" class="form-control" name="username"required>
                <p>{{form.username.errors}}</p>
            </div>

            <!-- password -->
            <div class="form_content_container">
                <label>Password</label>
                <input type="password" class="form-control" name="password" required>
                <p>{{form.password.errors}}</p>
            </div>


            <div class="form_content_container">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>


            <hr>

            <div class="form_content_container">
                <div class="forget_account_continer">
                    <a href="{% url 'ForgetPassword' %}" class="btn btn-danger text-light mx-1">Did you forget the password?</a>
                    <a href="{% url 'SingUp' %}" class="btn btn-primary text-light ma-1">Don't have any account?</a>
                </div>
                
            </div>
        </form>

        

    </div>
</section>
{% endblock %}